# SPDX-License-Identifier: MIT
# RENAME THIS FILE TO .env BEFORE USE!
GEMINI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GEMINI_FREE_TIER=True 
# Defaults to True, set to False if you pay for the Gemini API.